.searchScreen {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;

  &__title {
    position: absolute;
    left: 45%;
    top: 0;
    z-index: 10;
    margin-top: 24px;
    font-size: 24px;
    color: var(--light-color);
    cursor: pointer;
  }

  img {
    position: absolute;
    top: 0;
    z-index: -10;
    width: 100%;
    height: 100%;
  }
}

.searchBox {
  z-index: 10;
  grid-column: 4 / 10;

  @media (width <=1000px) {
    grid-column: 1 / -1;
  }
}

.cardSection {
  position: relative;
  top: -150px;
  z-index: 20;

  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 36px;

    @media (width <=1000px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__message {
    display: flex;
    justify-content: center;
    font-size: 18px;
  }

  &__wrapper {
    display: flex;
  }
}

.cardSectionSelected .cardSection__box {
  width: 50%;
}

.ButtomError {
  position: absolute;
  left: 24px;
  top: 24px;
  z-index: 15;
}