.searchBar {
  display: grid;
  grid-template-columns: auto max-content;
  gap: 14px;

  @media (width <=700px) {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
}


.searchBar__input {
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 14px;
  padding: 0 14px;
  gap: 14px;
}