.input {
  border: none;
  width: 100%;
  font-size: var(--third-font-size);
  color: var(--light-color);
  background: none;


}

::placeholder {
  color: var(--light-color);
}

.searchBar__input {
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 14px;
  padding: 0 14px;
  gap: 14px;
}

input:-internal-autofill-selected {
  font-size: var(--third-font-size);
  color: var(--light-color);
  background-color: transparent;
}